<% include ./partials/header %>

<div class="ui main text container">
  <div id="huge_header" class="ui huge header">Adopted</div>

  <div class="button-holder">
    <a id="only-dogs" class="ui left large green attached button" href="/animals/adopted/onlydogs">Dogs</a>
    <a id="only-cats" class="ui right large green attached button" href="/animals/adopted/onlycats">Cats</a>
  </div>

  <div class="ui top  attached segment">
    <div class="ui divided items">
      <% animals.forEach(function(animal){ %>
        <div class="item">
          <div class="rounded image">
            <img class="animal-image" src="<%= animal.image %>" >
          </div>
          <div class="content">
            <div class="description">
              <p>Species: <%= animal.species %></p>
              <p>Name: <%= animal.name %></p>
              <p>Birth Date: <%= animal.birthDate.toDateString() %></p>
              <p>Color: <%= animal.color %></p>
              <p>Comment: <%= animal.comment %></p>
              <p>Owner name: <%= animal.ownerID.name %></p>
              <p>Chip ID: <%= animal.chipID %></p>
              <p>Zip Code: <%= animal.ownerID.contact.zipCode %></p>
              <p>City: <%= animal.ownerID.contact.city %></p>
              <p>Street: <%= animal.ownerID.contact.street %></p>
              <p>House Number: <%= animal.ownerID.contact.houseNumber %></p>
              <p>Comment: <%= animal.ownerID.comment %></p>
            </div>
            <div class="extra">
              <a class="ui floated basic green button" href="/animals/<%= animal._id %>">
                More
                <i class="right chevron icon"></i>
              </a>
            </div>
          </div>
        </div>
        <% }) %>
        <div class="ui divided items">
        </div>
      </div>

      <% include ./partials/footer %>
