<% include ./partials/header %>
<div class="ui main text container segment">
  <div class="ui huge header"><%= animal.name %></div>
  <div class="ui top attached ">
    <div class="item">
      <img class="ui centered rounded image" src="<%= animal.image %>" >
      <div class="description">
        <p>Species: <%= animal.species %></p>
        <p>Name: <%= animal.name %></p>
        <p>Color: <%= animal.color %></p>
        <p>Comment: <%= animal.comment %></p>
        <p>Chip ID: <%= animal.chipID %></p>      </div>
      <a class="ui violet basic button" href="/posts/<%= animal._id %>/edit">Edit</a>
      <form id="delete" action="/posts/<%= animal._id %>?_method=DELETE" method="POST">
        <button class="ui red basic button">Delete</button>
      </form>
    </div>
  </div>
</div>
<% include ./partials/footer %>
